---
permalink: /films
title: Films
layout: default
---
<p class="hidden">Tous les films que j'ai écrit, vendus ou réalisés.</p>

{% for catefilm in site.data.films %}

  <div class="categorie-titre titre">{{ catefilm.titre }}</div>

  {% for film in catefilm.items %}
    <div class="film item regular">
      <h2 class="no_margin_bottom">{{ film.titre }}</h2>
      <div class="fleft imagefilm">
        <img src="/img/films/{{ film.id }}.jpg" />

        {% if film.legend_photo %}
          <div class="tiny center mt1">({{ film.legend_photo }})</div>
        {% endif %}

      </div>
      <table class="film" cellpadding="0" cellspacing="12">
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>

        {% if film.recompenses %}
          <tr>
            <td class="libelle">récompenses</td><td>{{ film.recompenses }}</td>
          </tr>
        {% endif %}

        {% if film.pitch %}
          <tr>
            <td class="libelle">résumé</td><td>{{ film.pitch }}</td>
          </tr>
        {% endif %}


        {% if film.acteurs %}
          <tr>
            <td class="libelle">avec</td><td>{{ film.acteurs }}</td>
          </tr>
        {% endif %}


        {% if film.realisateur %}
          <tr>
            <td class="libelle">réalisation</td><td>{{ film.realisateur }}</td>
          </tr>
        {% endif %}

        {% if film.auteurs %}
          <tr>
            <td class="libelle">scénario</td><td>{{ film.auteurs }}</td>
          </tr>
        {% endif %}

        {% if film.production %}
          <tr>
            <td class="libelle">production</td><td>{{ film.production }}</td>
          </tr>
        {% endif %}

        {% if film.musique %}
          <tr>
            <td class="libelle">musique</td><td>{{ film.musique }}</td>
          </tr>
        {% endif %}

  </table>
</div>
<div style="clear:both;height:1em;"></div>
  {% endfor %}

{% endfor %}
