<nav>
  <a href="/apropos" class="regular{% if page.path == 'index.md' %}active{% endif %}">À propos</a>
  <a href="/contact" class="regular{% if page.path contains '_pages/contact' %} active{% endif %}">Contact</a>
  <a href="/livres" class="regular{% if page.path contains '_pages/livres' %} active{% endif %}">Livres</a>
  <a href="/films" class="regular{% if page.path contains '_pages/films' %} active{% endif %}">Films</a>
  <a href="/tutoriels" class="regular{% if page.path contains '_pages/tutoriels' %} active{% endif %}">Tutoriels</a>
  <a href="/billets" class="regular{% if page.path contains '_pages/billets' %} active{% endif %}">Articles</a>
</nav>
