<nav>
  <a href="/" class="regular{% if page.path == 'index.md' %} active{% endif %}">À propos</a>
  <a href="/contact" class="regular{% if page.path contains '_pages/contact' %} active{% endif %}">Contact</a>
  <a href="/livres" class="regular{% if page.path contains '_pages/livres' %} active{% endif %}">Livres</a>
  <a href="/films" class="regular{% if page.path contains '_pages/films' %} active{% endif %}">Films</a>
  <a href="/tutoriels" class="regular{% if page.path contains '_pages/tutoriel' %} active{% endif %}">Tutoriels</a>
  <a href="/articles" class="regular{% if page.path contains 'articles' %} active{% endif %}">Blog</a>
</nav>
