img
  width: inherit
  &.regular
    width: 100%
  &.fleft
    margin: 2em 2em 2em 0
  &.fright
    margin: 2em 0 2em 2em

div.image-in-cadre
  text-align: center
  width: inherit
  &.fleft
    margin: 2em 2em 2em 0
  &.fright
    margin: 2em 0 2em 2em

  div.image
    width: inherit

  div.legend
    line-height: 1em
    width: inherit
    span.legend
      font-size: 0.8em
      font-family: Arial, Helvetica
      color: #555555
      font-style: italic
      padding: 0 1em


div.div-youtube
  position: relative
  display: inline-block
  width: inherit
  height: inherit

  iframe
    width: inherit
    // height: 100%!important
    height: inherit

    video
      width: inherit
      height: inherit
