---
layout: default
---

{%- for cate in site.data.tutoriels -%}
  {%- if cate.id == page.dim -%}
    {% assign data_categorie = cate %}
    {% break %}
  {%- endif -%}
{%- endfor -%}

<h1>Tutoriels “{{ data_categorie.titre }}”</h1>

{%- for sous_categorie in data_categorie.items -%}
{%- for tutoriel in sous_categorie.items -%}


  <div class="tutoriel item regular">

    <h2 class="">{{ tutoriel.titre }}</h2>
    <div class="colonnes2">
      <div class="col1 small">
        {%- include bloc_infos.html owner=tutoriel category=categorie_tutoriel.titre sous_categorie=sous_categorie.titre -%}
        {{ tutoriel.resume }}
      </div>
      <div class="col2">
        {%- if tutoriel.youtube_id -%}
          {% youtubeb %}{{ tutoriel.youtube_id }}{% endyoutubeb %}
        {%- endif -%}
      </div>
    </div>

  </div>

{%- endfor -%}
{%- endfor -%}
